@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
}
body{
    background-image:url(../forside/img/smoke.jpg);
    height:100vh;
    max-width: 100%;
    max-height:100%;
}
.transparent{
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.8);
    z-index:-1;
    position:absolute;
}
.text{
    color:#EF722A;
    display:flex;
    flex-direction:column;
    height:20vh;
    width:100%;
    align-items:center;
    padding-top:10vh;
    h1{
        text-transform:uppercase;
        font-size:100px;
        font-weight:500;
    }
    h5{
        color:white;
        font-size:30px;
        font-family:'Montserrat';
        font-weight:400;
    }
    span{
        font-family:'Roboto';
        font-weight:500;
        color:#EF722A;
        border-bottom:3px solid white;
    }
}
.language-container{
    height:70vh;
    // width:80%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding:40vh     15vw;
    h1{
        color:#EF722A;
        font-size:50px;
        text-transform: uppercase;
    }
}
.danish{
    height:350px;
    width:350px;
    border-radius:50%;
    img{
        border-radius:50%;
        height:100%;
        width:100%;
        transition:0.3s ease;
        opacity:50%;
        filter: grayscale(0.75);
        &:hover{
            transform: scale(1.1);
        }
    }
}
.english{
    height:350px;
    width:350px;
    border-radius:50%;
    opacity:50%;
   
    img{
        border-radius:50%;
        height:100%;
        width:100%;
        transition:0.3s ease;
        filter: grayscale(0.75);
        &:hover{
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width:1200px){
    .text h1{
        font-size:50px;
    }
    .text h5{
        font-size:20px;
    }
}
@media screen and (max-width:900px){
    .language-container{
        flex-direction: column;
        padding-top:30vh;
    }
    .language-container .danish{
        height:250px;
        width:250px;
    }
    .language-container .english{
        height:250px;
        width:250px;
    }
}    

@media screen and (max-width:600px){
    .text{
        width:100%;
        text-align:center;
    }
    .language-container .danish{
        height:200px;
        width:200px;
    }
    .language-container .english{
        height:200px;
        width:200px;
    }
}