@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}
.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 5;
    // skaber glas effekten på navbar efter scroll
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    flex-direction: column;

    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #5a595a;
        height:15vh;
        img{
            padding:10px;   
            
            
        }
    }

    .navbar-list {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        list-style-type: none;
        margin: auto;
        height:100%;
        padding:10px;

        .nav-item {
            font-family: 'Roboto Mono' sans-serif;

            .nav-link {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 20px;
                text-decoration: none;
                transition: 0.2s;
                color:white;
                &:hover {
                    color: #EF722A;
                }
            }
            .active{
                color:#EF722A
            }
        }
    }

}


.navbar .menu-hamburger {
    display: none;
    color: black;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 35px;
    cursor: pointer;
}


// hero 
.header {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.hero {
    // overflow: hidden;
    height: 100vh;
    // width: 100%;
    filter: brightness(30%);
}
// baggrund
.bg-img {
    position: absolute;
    z-index: -1;
    background-size: cover;
    height: 150vh;
    filter: brightness(0.15);
}